
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid hwb(109 38% 17%);
    border-radius: 10px;
    background-color: #88de57;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #741717;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"][name="Sign UP"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="submit"][name="Sign UP"]:hover {
    background-color: #204c70;
}

